    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    body {
        /* background: url(background.jpg) no no-repeat center center/cover; */
    }

    .nav {
        position: absolute;
        display: flex;
        width: 100%;
        z-index: 1;
        justify-content: space-between;
    }

    .nav::before {
        content: " ";
        position: absolute;
        background-color: rgb(31, 31, 50);
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .logo {
        display: flex;
    }

    .nav img {
        height: 4rem;
    }

    .logoname {
        position: relative;
        left: 10px;
        font-family: 'Seymour One';
        font-weight: bold;
        font-size: 20px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .logoname span {
        color: aquamarine;
    }

    .logoname:hover {
        color: aquamarine;
    }

    .logoname span:hover {
        color: white;
    }

    .nav ul {
        padding-right: 11rem;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .nav ul li {
        position: relative;
        padding: 1em;
        list-style: none;

    }

    .nav ul li a {
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        font-size: 1.3rem;
        padding: 20px;
        text-decoration: none;
        transition: all 0.3s;
    }

    .nav ul li a:hover {
        color: rgb(138, 157, 245);
    }

    .dropdown {
        display: none;
        z-index: 1;
    }

    .nav ul li:hover .dropdown {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: rgb(31, 31, 50);
    }

    .nav ul li:hover .dropdown ul {
        display: block;
        margin-right: -100px;
    }

    .nav ul li:hover .dropdown ul li {
        width: 150px;
        padding: 10px;
    }

    .leftcontent::before {
        content: " ";
        position: absolute;
        width: 20%;
        height: 38rem;
        background-color: rgb(131, 197, 198);
        z-index: -1;
        opacity: 0.5;
    }

    .leftcontent h4 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 6rem 0px 0rem 1rem;
        font-size: 23px;
    }

    .leftcontent ul {
        color: white;
        padding: 0px 40px;
        position: relative;
    }

    .leftcontent ul li {
        list-style: none;
        padding: 3px;
    }

    .leftcontent ul li a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.4s;
    }
    .leftcontent ul li a:hover{
        font-size: 20px;
        color: rgb(16, 2, 57);
    }
    #java img {
        position: relative;
        top: 8px;
        height: 40px;
        width: 40px;
    }

    .leftcontent ul li img {
        position: relative;
        top: 15px;
        height: 40px;
        width: 40px;
    }

    .midcontent {
        position: absolute;
        height: 33rem;
        width: 55rem;
        background-color: rgb(179, 188, 187);
        top: 5rem;
        left: 20rem;
        z-index: -1;
    }

    #pro {
        padding-top: 30px;
        padding-left: 30px;
    }

    .midcontent h2 {
        margin: 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(71, 92, 113);
    }

    .midcontent p {
        font-size: 20px;
        padding: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    footer {
        position: absolute;
        z-index: -1;
        top: 38rem;
        background-color: #213343;
        width: 100%;
        height: 200px;
    }

    @media only screen and (min-width: 80px) and (min-width: 180px) {
        .nav ul {
            display: none;
        }

        .nav.active ul {
            display: flex;
            
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            height: 40rem;
            background-color: rgb(31, 31, 50);
            z-index: 1;
        }

        .nav.active ul li {
            padding: 10px;
            text-align: center;
        }

        .nav.active ul li a {
            font-size: 1rem;
            padding: 10px;
            color: white;
            text-decoration: none;
            transition: all 0.3s;
        }

        .nav.active ul li a:hover {
            color: rgb(138, 157, 245);
        }

        .logo img {
            
        }

        .logoname {
            font-size: 18px;
        }

        .leftcontent {
            position: relative;
            top: 4rem;
            height: 12rem;
        }

        .leftcontent::before {
            width: 100%;
            height: 10rem;
        }

        .leftcontent h4 {
            padding: 8px;
        }

        .leftcontent ul {
            display: flex;
            padding: 10px;
        }

        .midcontent {
            position: relative;
            top: 0rem;
            left: 0rem;
            width: 100%;
            height: 100%;
            margin: 0;
        }
        footer {
            position: absolute;
            z-index: -1;
            top: 70rem;
            background-color: #213343;
            width: 100%;
            height: 200px;
    }
}
